<!DOCTYPE html>
<html lang="en">
  {% load static %}

{% load baseui %}
  <body>
{% header_component active="index" %}
      <main>
      <section class="home">
        <!-- <video class="video-slider active"  src="../vid/enjoy.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="vid/Nature - 108302.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="../vid/search (1).mp4" autoplay muted loop></video>
        <video class="video-slider"  src="../vid/search (2).mp4" autoplay muted loop></video> -->
        <img class="video-slider active" src="{% static 'thecop_app/images/church1.jpg' %}" alt="" />
        <img class="video-slider" src="{% static 'thecop_app/images/church2.jpg' %}" alt="" />
        <img class="video-slider" src="{% static 'thecop_app/images/church3.jpg' %}" alt="" />

        <div class="content active">
          <h1>Church<br /><span>WITH US</span></h1>
          <p>
            Coming in contact with us re-kindles your Spirit with the Most High.
            <br />Join us ,as we possess the nations.
          </p>
          <a href="index.html#explore">JOIN NOW</a>
        </div>

        <div class="content">
          <h1>ENJOY <br /><span>WITH US</span></h1>
          <p>Take a look at our activities and have fun</p>
          <a href="index.html#food">JOIN NOW</a>
        </div>

        <div class="content">
          <h1>TRAVEL <br /><span>WITH US</span></h1>
          <p>
            Travel the world with us.Enoy your trips <br />
            and let it be a memorable one.
          </p>
          <a href="index.html#popular">JOIN NOW</a>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>PROGRAM OUTLINES</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              We have a lot of exciting events coming this year ranging from the
              childrens' ministry to the adults ministry.
            </p>
          </div>
        </div>

        <div class="believe-section">
          <div class="rounded-design-line"></div>
          <div class="believe-div">
            <div class="date">
              <h4>16 SEPTEMBER 2023</h4>
              <h3>SUN 08:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>CHILDREN'S DAY PROGRAM</h2>
                  <p>
                    Let's come in our numbers to support our children grow in
                    Christ. The venue is at the church premises.
                  </p>
                  <button class="readmore">Learn more</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>22 NOVEMBER 2023</h4>
              <h3>SUN 08:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>PASTOR PAUL'S RESIGNATION PROGRAM</h2>
                  <p>
                    Pastor Paul K. Amoah's resignation program will be held this
                    Sunday at the church premises
                  </p>
                  <button class="readmore">Learn more</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>22 DECEMBER 2023</h4>
              <h3>THU 21:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>CAROL'S SERVICE</h2>
                  <p>
                    The Church of Pentecost together with Altar Praise presents
                    to you the carol's service 2023. Come with flash hair bands,
                    your handkerchiefs and your dancing shoes and pour your
                    hearts out for what the Lord has done for you.
                  </p>
                  <button class="readmore">Book a seat</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="exp-container-div">
        <div class="exp-center">
          <div class="exp-container">
            <div class="icon-div">
              <img src="{% static 'thecop_app/images/church.png' %}" alt="" width="30" height="30">
            </div>
            <div>
              <div class="room" data-ceil="304">304</div>
              <h4>Churches</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div">
              <img src="{% static 'thecop_app/images/people.png' %}" alt="" width="30" height="30">
            </div>
            <div>
              <div class="room" data-ceil="280">280</div>
              <h4>Souls</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div">
              <img src="{% static 'thecop_app/images/pulpit.png' %}" alt="" width="30" height="30">
            </div>
            <div>
              <div class="room" data-ceil="32">32</div>
              <h4>Events</h4>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>OUR BLOG</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>Dive through our recent blogs.</p>
          </div>
        </div>

        <div class="blog-container-div">
          <div class="blog-container">
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/ms.walker.png' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>Mrs Odi Walker Laid To Rest</h2>
                <p>
                  The mortal remains of Mrs Florence Odi Walker, who was part of
                  the formative years of The Church of Pentecost,...
                </p>
              </div>
            </div>

            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>PENT TV GOES LIVE</h2>
                <p>
                  We're now live on your screens. Scan your digi-boxes to get
                  the Pent tv station.
                </p>
              </div>
            </div>
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/fulani.jpg' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>FIRST FULANI PASTOR IN PENTECOST</h2>
                <p>
                  Meet the Probationary Overseer Abubakar Diallo; the first
                  Fulani pastor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>THE TENETS OF THE CHURCH OF PENTECOST</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              We strictly abide by these tenets; as it guides us to know the
              core values of the church
            </p>
          </div>
        </div>

        <div class="tenets-container">
          <div class="tenet-div">
            <div class="badge"><h3>1</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>2</h3></div>
            <div class="tenet-box">
              <h2>THE ONE TRUE GOD</h2>
              <p>
                We believe in the existence of the one True God, Elohim, Maker
                of the whole universe<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>3</h3></div>
            <div class="tenet-box">
              <h2>THE DEPRAVED NATURE OF HUMANITY</h2>
              <p>
               We believe that"all have sinned and come short of the glory of God"(Genesis3:1-19,
               Isaiah53:6,Romans3:23),and are subject to eternal punishment(Mathew 13:41,42,Romans6:23)
               ,and need repentance (Acts2:38,Mathew4:17,Acts20:21)and Regeneration.
               (John3:3,5,Titus3:5).
                <br /><br />

              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>4</h3></div>
            <div class="tenet-box">
              <h2>THE SAVIOUR</h2>
              <p>
       We believe humanity’s need of a Saviour has been met in the person of
       Jesus Christ (Matthew 1:21; John 4:42; Acts 2:36; Ephesians 5:23;
       Philippians 2:6-11), because of His Deity (Isaiah 9:6, John 1:1;
       John 20:28; Romans 9:5; Titus 2:13-14), Virgin Birth (Isaiah 7:14;
       Matthew 1:18; Luke 1:25-26), Atoning death (Romans 3:25; Hebrews 9:
       22; 1 John 2:2), Resurrection (Matthew 28:5-7; Acts 2:24; Acts 2:36
       ; Acts 10:39-40; 1 Corinthians 15:3-4) and Ascension (Acts 1:9-11;
         Acts 2:33-36), His Abiding Intercession (Romans 8:34;
       Hebrews 7:25) and His second coming to judge the living and the
       dead (Acts 1:11; Acts 10:42; 1 Thessalonians 4:16-18, 2 Timothy 4:1; Revelation 22:12, 20).
          <br /><br />
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>5</h3></div>
            <div class="tenet-box">
              <h2>REPENTANCE,JUSTIFICATION AND SANTIFICATION </h2>
              <p>
          We believe all humans have to repent and confess their sins
          before God (Luke 15:7; Acts 2:38; Acts 3:19; Acts 17:30),
          and believe in the vicarious death of Jesus Christ before
          they can be justified before God (Romans 4:25; 5:1). We
          believe in the sanctification of the believer through the
          working of the Holy Spirit (1 Corinthians 1:30; 6:11)
          and God’s gift of eternal life to the believer (John 17:2, 3;
           John 10:27, 28; Romans 6:23b; 1John 5:11-13).
                <br /><br />
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>6</h3></div>
            <div class="tenet-box">
              <h2>THE ORDINATION OF BAPTISM AND THE LORD'S SUPPER
                  OR COMMUNION.
              </h2>
              <p>
      We believe in the ordinance of Baptism by immersion as a testimony
      of a convert who has attained a responsible age of 13 years. (Matthew
      3:16; Matthew 28:19; Mark 1:9,10; Mark 16:16; Acts 2:38). Infants
      and children are not baptised but are dedicated to the Lord (Mark
      10:13-16; Luke 2:22-24, 34). We believe in the ordinance of the
      Lord’s Supper or Holy Communion, which should be partaken by all
      members who are in full fellowship (Luke 22:19, 20; Acts 20:7; 1
       Corinthians 11:23-33).
                <br /><br />

              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>7</h3></div>
            <div class="tenet-box">
              <h2>BABTISM,GIFT,AND FRUIT,OF THE HOLY SPIRIT</h2>
              <p>
             We believe in the Baptism of the Holy Spirit for all
             believers with the initial evidence of speaking in tongues
            (Joel 2:28, 29; Acts 2:3,4,38,39; Acts 10:44-46; Acts 19:
             16), and in the operation of the gifts and fruit of the
            Holy Spirit (Romans 12:6-8; Galatians 5:22,23 and 1
            Corinthians 12:8-11; 28-30).
               <br /><br />
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>8</h3></div>
            <div class="tenet-box">
              <h2>DIVINE HEALING </h2>
              <P>
                 We believe that the healing of sicknesses and diseases is provided for God’s people
                in the atonement (Isaiah 53:4,5; Matthew 8:7-13; 16,17; Mark 16:17,18; Luke 13:10-16;
                 Acts 10:38; James 5:14-16). However, the Church is not opposed to medication by
                 qualified medical practitioners.
                <br /><br />
              </P>
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>9</h3></div>
            <div class="tenet-box">
              <h2>TITHES AND OFFERINGS</h2>
              <p>
             We believe in tithing and in the giving of freewill offerings towards the furtherance
             of the cause of the Kingdom of God. We believe that God blesses a cheerful giver
             (Genesis 14:18-20; Malachi 3:6-10; Matthew 23:23; Acts 20:35; Hebrews 7:1-4;
             I Corinthians 16:1, 2; 2 Corinthians 9:1-9).
                <br /><br />
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>10</h3></div>
            <div class="tenet-box">
              <h2>THE SECOND COMING AND THE NEXT LIFE</h2>
              <p>
              We believe in the second coming of Christ and the resurrection of the dead,
              both the saved and the unsaved. They that are saved to the resurrection of life and
              the unsaved to the resurrection of damnation (Daniel 12:2; Mark 13:26; John 5:28, 29;
              Acts 1:11; Acts 10:42; Romans 2:7-11; Romans 6:23).
                <br /><br />
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>11</h3></div>
            <div class="tenet-box">
              <h2>MARRAIGE AND FAMILY LIFE</h2>
              <p>
         We believe in the institution of marriage as a union established and ordained by God
        for the lifelong, intimate relationship between a man as husband and a woman as wife as
        biologically defined at birth. We believe that God instituted marriage primarily for
        mutual help, fellowship and comfort that one ought to have for the other and for the
        honourable procreation of children, and their training in love, obedience to the Lord
        and responsible citizenship. (Genesis 2:18, Genesis 21-25; Matthew 19:4-6; 1 Corinthians 7:1-2).
                <br /><br />
                </P>

            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>DONATE</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              Give, and it shall be given unto you; good measure, pressed down,
              and shaken together, and running over, shall men give into your
              bosom...(Luke 6:38 KJV)
            </p>
          </div>
        </div>

        <div class="donate-container">
          <article>
            <h1>Abelenkpe Central needs funding for their project</h1>
            <div class="box">
              <div class="img-div">
                <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
              </div>
              <p>
                The church of Pentecost,Abelenkpe Central needs funding to
                complete their church auditorium.
              </p>
            </div>
          </article>

          <div class="donate-progress-bar-container">
            <div class="progress-div"></div>
          </div>
        </div>
      </section>

      <section></section>

      <!-- <footer class="footer section">
        <div>
          <a href="#" class="footer_logo">
            The Church of Pentecost
            <i class="bsx bsx-home-alt-2"></i>
          </a>
          <p class="footer_description">
           We are empowered to possess nations<br/> everywhere we find ourselves
          </p>
        </div>

        <div class="footer_container container grid">

          <div class="footer_content">
            <div>
              <h3 class="footer_title">Activities</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">Travel</a>
                </li>
                <li>
                  <a href="" class="footer_link">Explore</a>
                </li>
                <li>
                  <a href="" class="footer_link">Eat</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="footer_title">Services</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">Contact Sales</a>
                </li>
                <li>
                  <a href="" class="footer_link">Plans & Pricing</a>
                </li>
                <li>
                  <a href="" class="footer_link">Events</a>
                </li>
              </ul>
            </div>

            <div>
              <h3 class="footer_title">About Us</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">About Us</a>
                </li>
                <li>
                  <a href="" class="footer_link">Our Blog</a>
                </li>
                <li>
                  <a href="" class="footer_link">Features</a>
                </li>
              </ul>
            </div>

            <div>
              <h3 class="footer_title">Follow Us</h3>

              <ul class="footer_socials">
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bxl-linkedin-square"></i>
                </a>
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bxl-facebook-square"></i>
                </a>
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bsl-pinterest"></i>
                </a>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer_info container">
          <span class="footer_copy">
            © 2023 The Church of Pentecost – General Headquarters. All Rights Reserved          </span>

          <div class="footer_privacy">
            <a href="#">Terms and conditions</a>
            <a href="#">Our Private Policies</a>
          </div>
        </div>
      </footer> -->
    </main>


    <footer class="site-footer">
      <div class="footer_container">
          <div class="footer-top">
              <div class="footer-section">
                  <h3>Theme for 2024</h3>
                  <p><strong>A People of God Unleashed to Transform their World</strong>
                  <br/> (1 Peter 2:9 and Acts 1:8)
                  </p>
              </div>

              <div class="footer-section">
                  <h3>Quick Links</h3>
                  <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Portfolio</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
              </div>

              <div class="footer-section">
                  <h3>Contact Information</h3>
                  <span><i class="fas fa-map-marker-alt"></i> 1234 Main St, City, Country</span><br/>
                  <span><i class="fas fa-phone"></i> +123-456-7890</span><br/>
                  <span><i class="fas fa-envelope"></i> info@example.com</span>
              </div>


          </div>

          <div class="footer-section">
            <h3>Newsletter</h3>
            <h5>Subscribe to our newsletter for updates.</h5>
            <form action="#" method="post" class="footer-form">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button type="submit">Subscribe</button>
            </form>
        </div>

          <div class="footer-bottom">
              <p>&copy; 2024 The Church Of Pentecost. All Rights Reserved.</p>
              <div class="social-icons">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
      </div>
  </footer>

    <script>
      ScrollReveal({
        reset: true,
        distance: "60px",
        duration: 2500,
        delay: 400,
      });

      ScrollReveal().reveal(".topic,.section-title", {
        delay: 500,
        origin: "left",
      });
      ScrollReveal().reveal(".event-div, .info", {
        delay: 100,
        origin: "right",
      });
      ScrollReveal().reveal(".date", { delay: 10, origin: "left" });
      ScrollReveal().reveal(".blogthumbnail", {
        delay: 300,
        origin: "bottom",
        interval: 200,
      });
      ScrollReveal().reveal(".sec-02 .image,.sec-03 .image", {
        delay: 700,
        origin: "top",
      });
      ScrollReveal().reveal(".media-info li", {
        delay: 500,
        origin: "top",
        interval: 200,
      });
    </script>

    <!-- <script src="../JS/swiper-bundle.min.js"></script> -->
  </body>
</html>

