<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index0.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index1.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}" />
      <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/icons.css' %}">
    <!-- <link rel="stylesheet" href="../CSS/swiper-bundle.min.css" /> -->
    <title>Document</title>
  </head>

  <body>
    <header class="header">
      <!-- <a href="#" class="brand" id="brand">COP</a> -->
       <a href="index.html" class="brand">
        <img src="static/thecop_app/images/The-Church-Of-Pentecost.png"/>
       </a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="#home" class="nav-item">Home</a>
          <div class="dropdown">
            <a href="#" class="dropbtn">About</a>
            <div class="dropdown-content">
              <a href="{% url 'about_leaders' %}" class="dropdown-item">Leaders</a>
              <a href="#vision" class="dropdown-item">Vision</a>
              <a href="#mission" class="dropdown-item">Mission</a>
              <a href="#testimonials" class="dropdown-item">Testimonials</a>
              <a href="#awards" class="dropdown-item">Awards</a>
            </div>
          </div>
          <a href="#" class="nav-item dropdown-item">Donations</a>
          <div class="dropdown">
            <a href="#" class="dropbtn">Events</a>
            <div class="dropdown-content">
              <a href="./about.html" class="dropdown-item">Easter Convention</a>
              <a href="" class="dropdown-item">Carol Services</a>
              <a href="" class="dropdown-item">Sports</a>
              <a href="" class="dropdown-item">Other Holidays</a>
            </div>
          </div>
          <a href="#" class="nav-item">The Gallery</a>
          <div class="dropdown">
            <a href="#" class="dropbtn">Songs</a>
            <div class="dropdown-content">
              <a href="./about.html" class="dropdown-item">Theme Songs</a>
              <a href="" class="dropdown-item">PEMEM Songs</a>
              <a href="" class="dropdown-item">Womens' Ministry Songs</a>
              <a href="" class="dropdown-item">Youth Anthems</a>
            </div>
          </div>
          <a href="#" class="nav-item">Contact</a>

          <button class="signup">Find A Church</button>
        </div>
      </div>
    </header>
    <main>
      <section class="home">
        <!-- <video class="video-slider active"  src="../vid/enjoy.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="vid/Nature - 108302.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="../vid/search (1).mp4" autoplay muted loop></video>
        <video class="video-slider"  src="../vid/search (2).mp4" autoplay muted loop></video> -->
        <img class="video-slider active" src="static/thecop_app/images/church1.jpg" alt="" />
        <img class="video-slider" src="static/thecop_app/images/church2.jpg" alt="" />
        <img class="video-slider" src="static/thecop_app/images/church3.jpg" alt="" />

        <div class="content active">
          <h1>Church<br /><span>WITH US</span></h1>
          <p>
            Coming in contact with us re-kindles your Spirit with the Most High.
            <br />Join us ,as we possess the nations.
          </p>
          <a href="index.html#explore">JOIN NOW</a>
        </div>

        <div class="content">
          <h1>ENJOY <br /><span>WITH US</span></h1>
          <p>Take a look at our activities and have fun</p>
          <a href="index.html#food">JOIN NOW</a>
        </div>

        <div class="content">
          <h1>TRAVEL <br /><span>WITH US</span></h1>
          <p>
            Travel the world with us.Enoy your trips <br />
            and let it be a memorable one.
          </p>
          <a href="index.html#popular">JOIN NOW</a>
        </div>
        <div class="slider-navigation">
          <div class="nav-btn active"></div>
          <div class="nav-btn"></div>
          <div class="nav-btn"></div>
        </div>
      </section>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>WE BELIEVE IN ...</h2>
          </div>
          <div class="hr-div">
            <img src="static/thecop_app/images/hr.png" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              We have a lot of exciting events coming this year ranging from the
              childrens' ministry to the adults ministry.
            </p>
          </div>
        </div>

        <div class="believe-section">
          <div class="rounded-design-line"></div>
          <div class="believe-div">
            <div class="date">
              <h4>16 SEPTEMBER 2023</h4>
              <h3>SUN 08:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>CHILDREN'S DAY PROGRAM</h2>
                  <p>
                    Let's come in our numbers to support our children grow in
                    Christ. The venue is at the church premises.
                  </p>
                  <button class="readmore">Learn more</button>
                </div>
                <div class="event-img">
                  <img src="static/thecop_app/images/bannerimg.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>22 NOVEMBER 2023</h4>
              <h3>SUN 08:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>PASTOR PAUL'S RESIGNATION PROGRAM</h2>
                  <p>
                    Pastor Paul K. Amoah's resignation program will be held this
                    Sunday at the church premises
                  </p>
                  <button class="readmore">Learn more</button>
                </div>
                <div class="event-img">
                  <img src="static/thecop_app/images/bannerimg.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>22 DECEMBER 2023</h4>
              <h3>THU 21:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>CAROL'S SERVICE</h2>
                  <p>
                    The Church of Pentecost together with Altar Praise presents
                    to you the carol's service 2023. Come with flash hair bands,
                    your handkerchiefs and your dancing shoes and pour your
                    hearts out for what the Lord has done for you.
                  </p>
                  <button class="readmore">Book a seat</button>
                </div>
                <div class="event-img">
                  <img src="static/thecop_app/images/bannerimg.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="exp-container-div">
        <div class="exp-center">
          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="304">304</div>
              <h4>Churches</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="280">280</div>
              <h4>Souls</h4>
            </div>
          </div>
          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="20">20</div>
              <h4>Sermons</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="32">32</div>
              <h4>Events</h4>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>OUR BLOG</h2>
          </div>
          <div class="hr-div">
            <img src="static/thecop_app/images/hr.png" alt="" />
          </div>
          <div class="sub-topic">
            <p>Dive through our recent blogs.</p>
          </div>
        </div>

        <div class="blog-container-div">
          <div class="blog-container">
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="static/thecop_app/images/ms.walker.png" alt="" />
              </div>

              <div class="text-box">
                <h2>Mrs Odi Walker Laid To Rest</h2>
                <p>
                  The mortal remains of Mrs Florence Odi Walker, who was part of
                  the formative years of The Church of Pentecost,...
                </p>
              </div>
            </div>

            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="static/thecop_app/images/bannerimg.jpg" alt="" />
              </div>

              <div class="text-box">
                <h2>PENT TV GOES LIVE</h2>
                <p>
                  We're now live on your screens. Scan your digi-boxes to get
                  the Pent tv station.
                </p>
              </div>
            </div>
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="./blog.html" class="cart-btn">Learn More</a>
              </div>

              <div class="img-div">
                <img src="static/thecop_app/images/fulani.jpg" alt="" />
              </div>

              <div class="text-box">
                <h2>FIRST FULANI PASTOR IN PENTECOST</h2>
                <p>
                  Meet the Probationary Overseer Abubakar Diallo; the first
                  Fulani pastor.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>THE TENETS OF THE CHURCH OF PENTECOST</h2>
          </div>
          <div class="hr-div">
            <img src="static/thecop_app/images/hr.png" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              We strictly abide by these tenets; as it guides us to know the
              core values of the church
            </p>
          </div>
        </div>

        <div class="tenets-container">
          <div class="tenet-div">
            <div class="badge"><h3>1</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>2</h3></div>
            <div class="tenet-box">
              <h2>THE ONE TRUE GOD</h2>
              <p>
                We believe in the existence of the one True God, Elohim, Maker
                of the whole universe<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>3</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>4</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>5</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>6</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>7</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>8</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>9</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>
          <div class="tenet-div">
            <div class="badge"><h3>10</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>

          <div class="tenet-div">
            <div class="badge"><h3>11</h3></div>
            <div class="tenet-box">
              <h2>THE BIBLE</h2>
              <p>
                We believe in the divine inspiration and authority of the Holy
                Scriptures. We believe that the Bible is infalliable with it's
                declaration, final in its authority, all-supreme in all
                provisions and comprehensie in its sufficiency.<br /><br />
                (2 Tim 3:16: 2 Pet 1:21)
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>DONATE</h2>
          </div>
          <div class="hr-div">
            <img src="static/thecop_app/images/hr.png" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              Give, and it shall be given unto you; good measure, pressed down,
              and shaken together, and running over, shall men give into your
              bosom...(Luke 6:38 KJV)
            </p>
          </div>
        </div>

        <div class="donate-container">
          <article>
            <h1>Abelenkpe Central needs funding for their project</h1>
            <div class="box">
              <div class="img-div">
                <img src="static/thecop_app/images/bannerimg.jpg" alt="" />
              </div>
              <p>
                The church of Pentecost,Abelenkpe Central needs funding to complete their church auditorium.
              </p>
            </div>
          </article>

          <div class="donate-progress-bar-container">
            <div class="progress-div"></div>
          </div>
        </div>
      </section>

      <section></section>

      <footer class="footer section">
        <div>
          <a href="#" class="footer_logo">
            The Church of Pentecost
            <i class="bsx bsx-home-alt-2"></i>
          </a>
          <p class="footer_description">
           We are empowered to possess nations<br/> everywhere we find ourselves
          </p>
        </div>

        <div class="footer_container container grid">

          <div class="footer_content">
            <div>
              <h3 class="footer_title">Activities</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">Travel</a>
                </li>
                <li>
                  <a href="" class="footer_link">Explore</a>
                </li>
                <li>
                  <a href="" class="footer_link">Eat</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="footer_title">Services</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">Contact Sales</a>
                </li>
                <li>
                  <a href="" class="footer_link">Plans & Pricing</a>
                </li>
                <li>
                  <a href="" class="footer_link">Events</a>
                </li>
              </ul>
            </div>

            <div>
              <h3 class="footer_title">About Us</h3>

              <ul class="footer_links">
                <li>
                  <a href="" class="footer_link">About Us</a>
                </li>
                <li>
                  <a href="" class="footer_link">Our Blog</a>
                </li>
                <li>
                  <a href="" class="footer_link">Features</a>
                </li>
              </ul>
            </div>

            <div>
              <h3 class="footer_title">Follow Us</h3>

              <ul class="footer_socials">
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bxl-linkedin-square"></i>
                </a>
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bxl-facebook-square"></i>
                </a>
                <a href="#" class="footer_social-link" target="_blank">
                  <i class="bx bsl-pinterest"></i>
                </a>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer_info container">
          <span class="footer_copy">
            © 2023 The Church of Pentecost – General Headquarters. All Rights Reserved          </span>

          <div class="footer_privacy">
            <a href="#">Terms and conditions</a>
            <a href="#">Our Private Policies</a>
          </div>
        </div>
      </footer>
    </main>
    <script>
      ScrollReveal({
        reset: true,
        distance: "60px",
        duration: 2500,
        delay: 400,
      });

      ScrollReveal().reveal(".topic,.section-title", {
        delay: 500,
        origin: "left",
      });
      ScrollReveal().reveal(".event-div, .info", {
        delay: 100,
        origin: "right",
      });
      ScrollReveal().reveal(".date", { delay: 10, origin: "left" });
      ScrollReveal().reveal(".blogthumbnail", {
        delay: 300,
        origin: "bottom",
        interval: 200,
      });
      ScrollReveal().reveal(".sec-02 .image,.sec-03 .image", {
        delay: 700,
        origin: "top",
      });
      ScrollReveal().reveal(".media-info li", {
        delay: 500,
        origin: "top",
        interval: 200,
      });
    </script>
    <script src="static/thecop_app/js/index.js"></script>
    <!-- <script src="static/thecop_app/js/swiper-bundle.min.js"></script> -->
  </body>
</html>
