<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index.css' %}  " />
    <title>The Church Of Pentecost</title>
  </head>
  <body>
    <header class="header">
      <!-- <a href="#" class="brand" id="brand">COP</a> -->
       <a href="index.html" class="brand">
        <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}"/>
       </a>
      <div class="menu-btn"></div>
      <div class="navigation">
        <div class="navigation-items">
          <a href="#home" class="nav-item">Home</a>
          <a href="#about" class="nav-item">About</a>
          <a href="#features" class="nav-item">Donations</a>
          <a href="#contact" class="nav-item">Events</a>
          <a href="#contact" class="nav-item">The Gallery</a>
          <a href="songs.html" class="nav-item">Songs</a>
          <a href="#contact" class="nav-item">Contact</a>

          <button class="signup">Find A Church</button>
        </div>
      </div>
    </header>
    <main>
      <section class="home">
        <!-- <video class="video-slider active"  src="../vid/enjoy.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="vid/Nature - 108302.mp4" autoplay muted loop></video> -->
        <!-- <video class="video-slider"  src="../vid/search (1).mp4" autoplay muted loop></video>
        <video class="video-slider"  src="../vid/search (2).mp4" autoplay muted loop></video> -->
        <img class="video-slider active" src="{% static 'thecop_app/images/bee.jpg' %}" alt="">
        <img class="video-slider" src="{% static 'thecop_app/images/fern.jpg' %}" alt="">
        <img class="video-slider" src="{% static 'thecop_app/images/rose.jpg' %}" alt="">

        <div class="content active">
            <h1>EXPLORE <br><span>WITH US</span></h1>
            <p>Explore the world's best tourist sites with<br> great tourists to educate
              you on your researches; and more over have fun!
            </p>
               <a href="index.html#explore">BOOK NOW</a>
        </div>
  
  
      <div class="content">
          <h1>ENJOY <br><span>WITH US</span></h1>
          <p>Take a bite of our recipies and feel good.Eat well!</p>
             <a href="index.html#food">BOOK NOW</a>
      </div>
  
      <div class="content">
          <h1>TRAVEL <br><span>WITH US</span></h1>
          <p>Travel the world with us.Enoy your trips <br/>
              and let it be a memorable one.</p>
             <a href="index.html#popular">BOOK NOW</a>
      </div>
        <div class="slider-navigation">
            <div class="nav-btn active"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>WE BELIEVE IN ...</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
              iusto rem nam quidem asperiores facilis officia nemo, iure maxime
              odit alias aspernatur nesciunt, fuga nulla rerum quia assumenda
              hic incidunt.
            </p>
          </div>
        </div>

        <div class="believe-section">
          <div class="rounded-design-line"></div>
          <div class="believe-div">
            <div class="date">
              <h4>16 MAY 2019</h4>
              <h3>THU 21:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>WE BELIEVE IN ...</h2>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Suscipit iusto rem nam quidem asperiores facilis officia
                    nemo, iure maxime odit alias aspernatur nesciunt, fuga nulla
                    rerum quia assumenda hic incidunt. Lorem ipsum dolor sit,
                    amet consectetur adipisicing elit. Suscipit iusto rem nam
                    quidem asperiores facilis officia nemo, iure maxime odit
                    alias aspernatur nesciunt, fuga nulla rerum quia assumenda
                    hic incidunt.
                  </p>
                  <button class="readmore">Find A Church</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>16 MAY 2019</h4>
              <h3>THU 21:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>WE BELIEVE IN ...</h2>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Suscipit iusto rem nam quidem asperiores facilis officia
                    nemo, iure maxime odit alias aspernatur nesciunt, fuga nulla
                    rerum quia assumenda hic incidunt.
                  </p>
                  <button class="readmore">Find A Church</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>

          <div class="believe-div">
            <div class="date">
              <h4>16 MAY 2019</h4>
              <h3>THU 21:30</h3>
            </div>
            <div class="rounded-design"></div>
            <div class="event-div">
              <div class="event">
                <div>
                  <h2>WE BELIEVE IN ...</h2>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Suscipit iusto rem nam quidem asperiores facilis officia
                    nemo, iure maxime odit alias aspernatur nesciunt, fuga nulla
                    rerum quia assumenda hic incidunt.
                  </p>
                  <button class="readmore">Find A Church</button>
                </div>
                <div class="event-img">
                  <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="exp-container-div">
        <div class="exp-center">
          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="304">34+</div>
              <h4>Churches</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="280"></div>
              <h4>Souls</h4>
            </div>
          </div>
          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="20">20</div>
              <h4>Sermons</h4>
            </div>
          </div>

          <div class="exp-container">
            <div class="icon-div"></div>
            <div>
              <div class="room" data-ceil="32">32</div>
              <h4>Events</h4>
            </div>
          </div>
        </div>
      </div>

      <br />
      <br />
      <br />
      <br />
      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>OUR BLOG</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
              iusto rem nam quidem asperiores facilis officia nemo, iure maxime
              odit
            </p>
          </div>
        </div>


        <div class="blog-container-div">
          <div class="blog-container">

            <div class="blogthumbnail">
              <div class="overlay">
                <a href="#" class="cart-btn">Learn More</a> 
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>LOREM IPSUM</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore tenetur minus voluptatem, vitae ad pariatur totam vel nisi, odit dolorum maiores impedit iste harum eos fuga dolores obcaecati deserunt. Nisi!</p>
              </div>
            </div>
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="#" class="cart-btn">Learn More</a> 
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>LOREM IPSUM</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore tenetur minus voluptatem, vitae ad pariatur totam vel nisi, odit dolorum maiores impedit iste harum eos fuga dolores obcaecati deserunt. Nisi!</p>
              </div>
            </div>
            <div class="blogthumbnail">
              <div class="overlay">
                <a href="#" class="cart-btn">Learn More</a> 
              </div>

              <div class="img-div">
                <img src="{% static 'thecop_app/images/bannerimg.jpg' %}" alt="" />
              </div>

              <div class="text-box">
                <h2>LOREM IPSUM</h2>
                <p> adipisicing elit. Labore tenetur minus voluptatem, vitae ad pariatur totam vel nisi, odit dolorum maiores impedit iste harum eos fuga dolores obcaecati deserunt. Nisi!</p>
              </div>
            </div>
            

          </div>
          </div>
      </section>

      <section>
        <div class="topic-div">
          <div class="topic">
            <h2>WHAT PEOPLE SAY ABOUT US!</h2>
          </div>
          <div class="hr-div">
            <img src="{% static 'thecop_app/images/hr.png' %}" alt="" />
          </div>
          <div class="sub-topic">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
              iusto rem nam quidem asperiores facilis officia nemo, iure maxime
              odit
            </p>
          </div>
        </div>
        
      </section>
    </main>
    <script src="{% static 'thecop_app/js/index.js' %}"></script>
  </body>
</html>
