<!DOCTYPE html>
<html lang="en">
<head>
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% load static %}
    <meta charset="UTF-8">
    <link href="{% static 'thecop_app/CSS/index.css' %}" rel="stylesheet"/>
    <link href="{% static 'thecop_app/CSS/sec.css' %}" rel="stylesheet"/>
    <link href="{% static 'thecop_app/CSS/ananse.css' %}" rel="stylesheet">
    <link href="{% static 'thecop_app/CSS/form.css' %}" rel="stylesheet">
    <link href="{% static 'thecop_app/CSS/fa/allicons.css' %}" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{member.local_assembly.district.name}} {{member.local_assembly.name}} Assembly</title>
</head>
<body style="display:grid">
<header class="header">
    <!-- <a href="#" class="brand" id="brand">COP</a> -->
    <a class="brand" href="index.html">
        <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}"/>
    </a>
</header>


<div class="appbody">

    <div class="article-cont">
        <div class="article-img">
            <img src="{%get_media_prefix%}{{article.img}}">
        </div>
        <h3>{{article.date_created.date}}</h3>
        <h1 style="font-family: 'Ubuntu'" class="article-title">{{ article.head }}</h1>
        <article class="article-read" style="font-family: 'Ubuntu'; line-height:2">
            {{ article.body|safe }}
        </article>
    </div>

    <div class="section">
        <div class="tag">
            <h3 style="font-family: 'Ubuntu'">Trending</h3>
            <span onclick="window.open('', '_self')"
                  style="font-family: 'Ubuntu'; color:blue; display:flex; align-items:center; justify-content:center">view more</span>
        </div>
        <div class="sec">
            {% for article in recent_articles %}
            <div class="box001" onclick="window.open('{% url 'member_read_art' art_id=article.id %}', '_self')">
                <div class="cover"><img src="{%get_media_prefix%}{{article.img}}"></div>
                <div class="text">{{ article.brief|truncatewords_html:14 }}<br><span
                        style="font-size:11px; color:rgba(30, 48, 80, 0.388);">{{article.date_created.date}}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="blank"></div>
</div>
<bottomnav>
    <navitem onclick="window.open('{% url 'member_home' %}', '_self')">
        <i class="fa-light fa-church"></i>
        <text>Home</text>
    </navitem>
    <navitem>
        <i class="fa-light fa-video"></i>
        <text>Videos</text>
    </navitem>
    <navitem is-selected onclick="window.open('{% url 'member_headlines' %}', '_self')">
        <i class="fa-light fa-newspaper"></i>
        <text>Headlines</text>
    </navitem>
    <navitem onclick="window.open('{% url 'member_me' %}', '_self')">
        <i class="fa-light fa-user"></i>
        <text>Me</text>
    </navitem>
</bottomnav>
</body>
</html>