.image-preview-container {
    width: 100%;
    height: 23em;
    display: grid;
    grid-template-rows: 70% 30%;
    gap: 10px;
}

.image-preview-container img {
    width: 100%;
    height: 100%;
}
.image-preview-container input {
    display: none;
}

.image-preview-container label {
    display: block;
    width: 50%;
    height: 45px;
    margin-left: 25%;
    text-align: center;
    background: aquamarine;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-in{
    width: 60%;
    height: 4em;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    outline: aquamarine;
}

.header-in:focus{
    outline: aquamarine;
}


.body-in{
    width: 60%;
    height: 27em;
    font-size: larger;
    font-weight: bold;
    outline: aquamarine;
}

.div-img-p{
    height: 20em; width: 30%;
}



@media screen and (max-width:688px){
    .div-img-p{
    height: 20em; width: 100%;
}

    .header-in{
        width: 80%;
    }

    .body-in{
        width: 90%;
    }

}


.sel_opt{
    width: 60%;
    height: 4em;
    font-size: 20px;
}

.form-div .div-img-p{
    height: 20em; width: 100%;
}