<!DOCTYPE html>
<html lang="en">
{% load static %}
 <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/pi.css' %}" />
      <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/icons.css' %}">

    <title>The Church Of Pentecost</title>
    <style>
    body{font-family:calibri}
        table{
            border: 1px solid black; border-spacing: 2px;
        }
        th, td{
            border: 1px solid black;
            padding: 10px
        }
    </style>
</head>
<body>

<div onclick="closeForm(b=['form-admin'])" id="body-cover"></div>
<div class="form-div larger" id="form-admin">
    <div class="header">
        <h4>Add Article</h4>
    </div>
    <div>

    </div>
    <div style="height: 25em; background-color: white; overflow-y:scroll; width:70%">
        <br><br>
        <form method="post" action="{% url 'author_add_article' %} " enctype="multipart/form-data">
    {% csrf_token %}

                    <h5>Image:</h5>
                <div class="div-img-p">
                    <div class="image-preview-container">
                        <div class="preview">
                            <img id="preview-selected-image" />
                        </div>
                        <div>
                            <label for="file-upload">Upload Image</label>
                            <input name="art_img" type="file" id="file-upload" accept="image/*" onchange="previewImage(event);" />
                        </div>

                    </div>
                </div>
                <h5>Header</h5>
                <input type="text" class="header-in" name="header">
                <h5>Brief</h5>
                <input type="text" class="header-in" name="brief">
                <h2>Body</h2>
                <textarea class="body-in" name="body"></textarea>

                <input type="submit" value="Add">


</form>
    </div>
   </div>


<header class="grid-header">
      <div class="logo">
          <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}" width=200 />
      </div>
      <div class="mid-div">
              <div class="nav-btn" onclick="window.open('{% url 'author_home' %}', '_self')">
                  <i class="fa-thin fa-gauge"></i>
                  <span>Dashboard</span>
              </div>
            <div class="nav-btn" onclick="window.open('{% url 'author_songs' %}', '_self')">
                  <i class="fa-thin fa-music"></i>
                  <span>Songs</span>
            </div>
          <div class="nav-btn" onclick="window.open('{% url 'author_articles' %}', '_self')">
                      <i class="fa-thin fa-newspaper"></i>
                     <span>Articles</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'author_home' %}', '_self')">
                  <i class="fa-thin fa-caret-down"></i>
                 <span>More</span>
          </div>
      </div>
      <div></div>
</header>
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">
     <div class="func-bar">
        <div class="tag">Articles</div>
        <div class="search-div">
            <input type="search" placeholder="Search Articles">
        </div>
        <div class="tag"><i class="fa-thin fa-filter" style="font-size: 15px; font-weight:bold"></i></div>
        <div class="tag" onclick="openForm('form-admin')"><i class="fa-thin fa-add" style="font-size: 15px; font-weight:bold"></i></div>
    </div>

    <div class="div-923">
        <h4 style="margin: 0 0 20px 30px">Recent <sup>4</sup></h4>

        <div class="fl001">
            {% for article in recent_articles %}
                <div class="box001" onclick="">
                    <div class="cover"><img src="{%get_media_prefix%}{{article.img}}"></div>
                    <div class="text">{{ article.brief|truncatewords_html:14 }}<br>
                        <span style="font-size:11px; color:rgba(30, 48, 80, 0.388);">{{article.date_created.date}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="div-923">
        <h4 style="margin: 0 0 20px 30px">Older <sup>4</sup></h4>
        <div class="fl001">
            {% for article in older_articles %}
                <div class="box001" onclick="">
                    <div class="cover"><img src="{%get_media_prefix%}{{article.img}}"></div>
                    <div class="text">{{ article.brief|truncatewords_html:14 }}<br>
                        <span style="font-size:11px; color:rgba(30, 48, 80, 0.388);">{{article.date_created.date}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



</appbody>

</body>
<script src="{% static 'thecop_app/js/bodycover.js' %}"></script>
    <script>
        const previewImage = (event) => {
            const imageFiles = event.target.files;
            const imageFilesLength = imageFiles.length;
            if (imageFilesLength > 0) {
                const imageSrc = URL.createObjectURL(imageFiles[0]);
                const imagePreviewElement = document.querySelector("#preview-selected-image");
                imagePreviewElement.src = imageSrc;
                imagePreviewElement.style.display = "block";
            }
        };

        const schPreviewImage = (event) => {
            const imageFiles = event.target.files;
            const imageFilesLength = imageFiles.length;
            if (imageFilesLength > 0) {
                const imageSrc = URL.createObjectURL(imageFiles[0]);
                const imagePreviewElement = document.querySelector("#sch-selected-image");
                imagePreviewElement.src = imageSrc;
                imagePreviewElement.style.display = "block";
            }
        };

        </script>
</html>