<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ADD LOCAL ADMIN</h1>
<form method="post" action="{% url 'districtAdmin_add_local_admin' %}">
    {% csrf_token %}
    <h4>Adding to {{admin.district.area.nation.country}}, {{admin.district.area.name}} AREA {{admin.district.name}} DISTRICT</h4>
   <select name="local_id">
        <option>Select Local</option>
        {% for local in admin.district.localassembly_set.all|dictsort:"name" %}
            <option value="{{local.id}}">{{local.name}}</option>
        {% endfor %}
    </select><br><br>
    <input name="phone" type="text" placeholder="Phone" required/><br><br>
    <input name="email" type="email" placeholder="Email" required/><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>