<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    body{font-family:calibri}
        table{
            border: 1px solid black; border-spacing: 2px;
        }
        th, td{
            border: 1px solid black;
            padding: 10px
        }
    </style>
</head>
<body>
<h1>{{admin.area.name}} AREA ADMIN | {{admin.area.nation.country}}</h1>

<h2>Districts</h2>
<table>
    <tr>
        <th>Name</th>
        <th>id</th>
        <th>Location</th>
    </tr>
{% for district in admin.area.district_set.all|dictsort:"name" %}
    <tr>
        <td>{{ district.name }} District</td>
        <td>{{ district.id }}</td>
        <td>{{ district.location }}</td>
    </tr>
{% endfor %}
</table>
<a href="{% url 'areaAdmin_add_district' %}">Add District</a>
<h3>District Admins</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Phone</th>
        <th>Email</th>
        <th>District</th>
    </tr>
    {% for district in admin.area.district_set.all|dictsort:"name" %}
     {% for ad in district.districtadmin_set.all %}
        <tr>
            <td>{{ ad.id }}</td>
            <td>{{ ad.phone }}</td>
            <td>{{ ad.email }}</td>
            <td>{{ ad.district.name }} District</td>
        </tr>
     {% endfor %}
    {% endfor %}
</table>

<a href="{% url 'areaAdmin_add_district_admin' %}">Add District Admin</a>


<h3>Announcements</h3>
<div>
    {% for announcement in announcements %}
        <div class="anc n">
            <span>{{ announcement.text }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No announcement</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'areaAdmin_add_announcement' %}">ADD ANNOUNCEMENT</a>


<h3>Events</h3>
<div>
    {% for event in events %}
        <div class="anc n">
            <span>{{ event.name }}::{{ event.date }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No event</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'areaAdmin_add_event' %}">ADD Event</a>


</body>
</html>