<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load baseui_local %}
<body>

{% header_component %}
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">


    <div class="counter-div-090">
        <div class="one">
            <div class="counter alpha">
                <div class="count">{{admin.local_assembly.member_set.count}}</div>
                <div class="label">
                    <i class="fa-thin fa-users"></i>
                    <span>Members</span>
                </div>
            </div>
        </div>
        <div  class="two">
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-globe"></i>
                 </div>
                 <div>
                     <div class="counter-head">Nation</div>
                     <div class="counter-mini">{{admin.local_assembly.district.area.nation.country}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-map"></i>
                 </div>
                 <div>
                     <div class="counter-head">Area</div>
                     <div class="counter-mini">{{admin.local_assembly.district.area.name}} Area</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-radar"></i>
                 </div>
                 <div>
                     <div class="counter-head">District</div>
                     <div class="counter-mini">{{admin.local_assembly.district.name}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-church"></i>
                 </div>
                 <div>
                     <div class="counter-head">Local</div>
                     <div class="counter-mini">{{admin.local_assembly.name}}</div>
                 </div>
            </div>
        </div>

    </div>
     <div class="ministry-div">
        <h3>Adults Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{adults_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Men</div>
                 <div class="counter-mini">{{adults_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Women</div>
                 <div class="counter-mini">{{adults_count_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Youth Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{youth_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Gents</div>
                 <div class="counter-mini">{{youth_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Ladies</div>
                 <div class="counter-mini">{{youth_count_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Children Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-children"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{children_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child"></i>
             </div>
             <div>
                 <div class="counter-head">Boys</div>
                 <div class="counter-mini">{{children_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child-dress"></i>
             </div>
             <div>
                 <div class="counter-head">Girls</div>
                 <div class="counter-mini">{{children_count_female}}</div>
             </div>
        </div>
        </div>
    </div>

    <h3>Announcements</h3>
<div>
    {% for announcement in announcements %}
        <div class="anc n">
            <span>{{ announcement.text }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No announcement</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'areaAdmin_add_announcement' %}">ADD ANNOUNCEMENT</a>


<h3>Events</h3>
<div>
    {% for event in events %}
        <div class="anc n">
            <span>{{ event.name }}::{{ event.date }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No event</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'areaAdmin_add_event' %}">ADD Event</a>

</appbody>


<h1>{{admin.local_assembly.district.area.nation.country}},{{admin.local_assembly.district.area.name}} Area,
    {{admin.local_assembly.district.name}} District,{{admin.local_assembly.name}} Assembly Admin</h1>


<h3>Announcements</h3>
<div>
    {% for announcement in announcements %}
        <div class="anc n">
            <span>{{ announcement.text }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No announcement</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'localAdmin_add_announcement' %}">ADD ANNOUNCEMENT</a>



<h3>Events</h3>
<div>
    {% for event in events %}
        <div class="anc n">
            <span>{{ event.name }}::{{ event.date }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No event</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'localAdmin_add_event' %}">ADD Event</a>


</body>
</html>