<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pent Admin Sign up</h1>
<form method="post" action="{% url 'copAdmin_signup' %}">
    {% csrf_token %}
    <input name="phone" type="text" placeholder="phone" required/><br><br>
    <input name="email" type="email" placeholder="email" required/><br><br>
    <input name="password" type="password" placeholder="password" required/><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>