<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/form.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/icons.css' %}">
    <title>Member Login</title>
</head>
<body style="display:grid">

<div class="form-container">
<h3>Pent Admin Login</h3><BR>
<form method="post" action="{% url 'copAdmin_login' %}">
    {% csrf_token %}
    <div class="input-container">
        <i class="fas fa-user"></i>
        <input name="id" type="text" placeholder="ID" required/>
    </div>

    <div class="input-container">
        <i class="fas fa-user"></i>
        <input name="ep" type="text" placeholder="email or phone" required/>
    </div>

    <div class="input-container">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password" required>
    </div>


    <input type="submit" value="Submit"><br>
</form>
</div>
</body>
</html>