<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">

    <title>The Church Of Pentecost</title>
    <style>
    body{font-family:calibri}
        table{
            border: 1px solid black; border-spacing: 2px;
        }
        th, td{
            border: 1px solid black;
            padding: 10px
        }
    </style>
</head>

<body>
<header class="grid-header">
      <div class="logo">
          <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}" width=200/>
      </div>
      <div class="mid-div">
              <div class="nav-btn" onclick="window.open('{% url 'copAdmin_home' %}', '_self')">
                  <i class="fa-thin fa-gauge"></i>
                  <span>Dashboard</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_nations' %}', '_self')">
                  <i class="fa-thin fa-map"></i>
                  <span>Nations</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_admins' %}', '_self')">
                  <i class="fa-thin fa-user-lock"></i>
                 <span>Admins</span>
          </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_members' %}', '_self')">
                  <i class="fa-thin fa-users"></i>
                 <span>Members</span>
          </div>
      </div>
      <div></div>
</header>
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">


    <div class="counter-div-090">
        <div class="one">
            <div class="counter alpha">
                <div class="count">{{members_total}}</div>
                <div class="label">
                    <i class="fa-thin fa-users"></i>
                    <span>Members</span>
                </div>
            </div>
        </div>
        <div  class="two">
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-globe"></i>
                 </div>
                 <div>
                     <div class="counter-head">Nations</div>
                     <div class="counter-mini">{{nations_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-map"></i>
                 </div>
                 <div>
                     <div class="counter-head">Areas</div>
                     <div class="counter-mini">{{areas_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-radar"></i>
                 </div>
                 <div>
                     <div class="counter-head">Districts</div>
                     <div class="counter-mini">{{districts_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-church"></i>
                 </div>
                 <div>
                     <div class="counter-head">Locals</div>
                     <div class="counter-mini">{{locals_total}}</div>
                 </div>
            </div>
        </div>

    </div>

    <div class="ministry-div">
        <h3>Adults Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{adults_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Men</div>
                 <div class="counter-mini">{{adults_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Women</div>
                 <div class="counter-mini">{{adults_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Youth Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{youth_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Gents</div>
                 <div class="counter-mini">{{youth_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Ladies</div>
                 <div class="counter-mini">{{youth_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Children Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-children"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{children_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child"></i>
             </div>
             <div>
                 <div class="counter-head">Boys</div>
                 <div class="counter-mini">{{children_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child-dress"></i>
             </div>
             <div>
                 <div class="counter-head">Girls</div>
                 <div class="counter-mini">{{children_female}}</div>
             </div>
        </div>
        </div>
    </div>
</appbody>
</body>
</html>