<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">

    <title>The Church Of Pentecost</title>
    <style>

    body{font-family:calibri}
        table{
            border: 1px solid black; border-spacing: 2px;
        }
        th, td{
            border: 1px solid black;
            padding: 10px
        }
    </style>
      <!-- START Adult ministry chart script  -->
      <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
         ['Gender', 'Population', { role: 'style' }],
         ['Total', {{adults_count}}, 'lime'],            // RGB value
         ['Male', {{adults_male}}, 'purple'],            // English color name
         ['Female', {{adults_female}}, 'LightCoral'],
      ]);

        // Set chart options
        var options = {'title':'Gender Population - Adult Ministry',
                       'width':"100%",
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('adult_ministry_chart_div'));
        chart.draw(data, options);
      }
    </script>
      <!--  END Adult ministry chart  script  -->

      <!-- START Youth ministry chart script  -->
      <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
         ['Gender', 'Population', { role: 'style' }],
         ['Total', {{youth_count}}, 'lime'],            // RGB value
         ['Male', {{youth_male}}, 'purple'],            // English color name
         ['Female', {{youth_female}}, 'LightCoral'],
      ]);

        // Set chart options
        var options = {'title':'Gender Population - Youth Ministry',
                       'width':"100%",
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('youth_ministry_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!--  END Youth ministry chart script  -->

      <!-- START Children ministry chart script  -->
      <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
         ['Gender', 'Population', { role: 'style' }],
         ['Total', {{children_count}}, 'lime'],            // RGB value
         ['Male', {{children_male}}, 'purple'],            // English color name
         ['Female', {{children_female}}, 'LightCoral'],
      ]);


        // Set chart options
        var options = {'title':'Gender Population - Children Ministry',
                       'width':"100%",
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('children_ministry_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!--  END Children ministry chart script  -->

      <!-- START ministry chart script  -->
      <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.arrayToDataTable([
         ['Ministry', 'Population', { role: 'style' }],
         ['Adult', {{adults_count}}, 'grey'],            // RGB value
         ['Youth', {{youth_count}}, 'turquoise'],            // English color name
         ['Children', {{children_count}}, 'wheat'],
      ]);


        // Set chart options
        var options = {'title':'Ministry Population',
                       'width':"100%",
                       'height': 360};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('all_ministry_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <!--  END  ministry chart script  -->
</head>

<body>
<header class="grid-header">
      <div class="logo">
          <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}" width=200/>
      </div>
      <div class="mid-div">
              <div class="nav-btn" onclick="window.open('{% url 'copAdmin_home' %}', '_self')">
                  <i class="fa-thin fa-gauge"></i>
                  <span>Dashboard</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_nations' %}', '_self')">
                  <i class="fa-thin fa-map"></i>
                  <span>Nations</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_admins' %}', '_self')">
                  <i class="fa-thin fa-user-lock"></i>
                 <span>Admins</span>
          </div>
          <div class="nav-btn" onclick="window.open('{% url 'copAdmin_members' %}', '_self')">
                  <i class="fa-thin fa-users"></i>
                 <span>Members</span>
          </div>
      </div>
      <div></div>
</header>
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">


    <div class="counter-div-090">
        <div class="one">
            <div class="counter alpha">
                <!--div class="count">{{members_total}}</div -->
                <div class="label">
                    <i class="fa-thin fa-users"></i>
                    <span>{{members_total}} Members</span>
                </div>
                <div id="all_ministry_chart_div"></div>
            </div>
        </div>
        <div  class="two">
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-globe"></i>
                 </div>
                 <div>
                     <div class="counter-head">Nations</div>
                     <div class="counter-mini">{{nations_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-map"></i>
                 </div>
                 <div>
                     <div class="counter-head">Areas</div>
                     <div class="counter-mini">{{areas_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-radar"></i>
                 </div>
                 <div>
                     <div class="counter-head">Districts</div>
                     <div class="counter-mini">{{districts_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-church"></i>
                 </div>
                 <div>
                     <div class="counter-head">Locals</div>
                     <div class="counter-mini">{{locals_total}}</div>
                 </div>
            </div>
        </div>

    </div>

    <!-- START Adult ministry chart div   -->
    <div class="ministry-div">
        <h3>Adults Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{adults_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Men</div>
                 <div class="counter-mini">{{adults_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Women</div>
                 <div class="counter-mini">{{adults_female}}</div>
             </div>
        </div>
        </div>
        <div id="adult_ministry_chart_div"></div>
    </div>
    <!-- END Adult ministry chart div   -->

    <!-- START Youth ministry chart div   -->
    <div class="ministry-div">
        <h3>Youth Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{youth_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Gents</div>
                 <div class="counter-mini">{{youth_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Ladies</div>
                 <div class="counter-mini">{{youth_female}}</div>
             </div>
        </div>
        </div>
        <div id="youth_ministry_chart_div"></div>
    </div>
    <!-- END Youth ministry chart div   -->

    <!-- START Children ministry chart div   -->
    <div class="ministry-div">
        <h3>Children Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-children"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{children_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child"></i>
             </div>
             <div>
                 <div class="counter-head">Boys</div>
                 <div class="counter-mini">{{children_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child-dress"></i>
             </div>
             <div>
                 <div class="counter-head">Girls</div>
                 <div class="counter-mini">{{children_female}}</div>
             </div>
        </div>
        </div>
        <div id="children_ministry_chart_div"></div>
    </div>
    <!-- END Children ministry chart div   -->


</appbody>
</body>
</html>