<!DOCTYPE html>
{% load static %}
{% load baseui_national %}
<html lang="en">

{% header_component %}
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">

    <div class="counter-div-090">
        <div class="one">
            <div class="counter alpha">
                <div class="count">{{members_total}}</div>
                <div class="label">
                    <i class="fa-thin fa-users"></i>
                    <span>Members</span>
                </div>
            </div>
        </div>
        <div  class="two">
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-globe"></i>
                 </div>
                 <div>
                     <div class="counter-head">Nation</div>
                     <div class="counter-mini">{{active_nation.country}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-map"></i>
                 </div>
                 <div>
                     <div class="counter-head">Areas</div>
                     <div class="counter-mini">{{active_nation.area_set.all.count}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-radar"></i>
                 </div>
                 <div>
                     <div class="counter-head">Districts</div>
                     <div class="counter-mini">{{active_nation.get_district_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-church"></i>
                 </div>
                 <div>
                     <div class="counter-head">Locals</div>
                     <div class="counter-mini">{{active_nation.get_local_total}}</div>
                 </div>
            </div>
        </div>

    </div>
    <div class="ministry-div">
        <h3>Adults Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{adults_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Men</div>
                 <div class="counter-mini">{{adults_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Women</div>
                 <div class="counter-mini">{{adults_count_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Youth Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-users"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{youth_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-male"></i>
             </div>
             <div>
                 <div class="counter-head">Gents</div>
                 <div class="counter-mini">{{youth_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-female"></i>
             </div>
             <div>
                 <div class="counter-head">Ladies</div>
                 <div class="counter-mini">{{youth_count_female}}</div>
             </div>
        </div>
        </div>
    </div>
    <div class="ministry-div">
        <h3>Children Ministry</h3>
        <div class="ministry-row">
             <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-children"></i>
             </div>
             <div>
                 <div class="counter-head">Total</div>
                 <div class="counter-mini">{{children_count}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child"></i>
             </div>
             <div>
                 <div class="counter-head">Boys</div>
                 <div class="counter-mini">{{children_count_male}}</div>
             </div>
        </div>
            <div class="counter-001">
             <div class="counter-av">
                  <i class="fa-thin fa-child-dress"></i>
             </div>
             <div>
                 <div class="counter-head">Girls</div>
                 <div class="counter-mini">{{children_count_female}}</div>
             </div>
        </div>
        </div>
    </div>
</appbody>

</body>
</html>