<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'thecop_app/images/logo-pent.png' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/index.css' %}" />
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/ananse.css' %}" />
      <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/allicons.css' %}">
    <link rel="stylesheet" href="{% static 'thecop_app/CSS/fa/icons.css' %}">

    <title>The Church Of Pentecost</title>
    <style>
    body{font-family:calibri}
        table{
            border: 1px solid black; border-spacing: 2px;
        }
        th, td{
            border: 1px solid black;
            padding: 10px
        }
    </style>
</head>
<body>

<header class="grid-header">
      <div class="logo">
          <img src="{% static 'thecop_app/images/The-Church-Of-Pentecost.png' %}" width=200/>
      </div>
      <div class="mid-div">
              <div class="nav-btn" onclick="window.open('{% url 'nationalAdmin_home' %}', '_self')">
                  <i class="fa-thin fa-gauge"></i>
                  <span>Dashboard</span>
              </div>
            <div class="nav-btn" onclick="window.open('{% url 'nationalAdmin_areas' %}', '_self')">
                  <i class="fa-thin fa-map"></i>
                  <span>Areas</span>
              </div>
          <div class="nav-btn" onclick="window.open('{% url 'nationalAdmin_admins' %}', '_self')">
                      <i class="fa-thin fa-user-lock"></i>
                     <span>Admins</span>
              </div>

          <div class="nav-btn" onclick="window.open('{% url 'nationalAdmin_members' %}', '_self')">
                  <i class="fa-thin fa-users"></i>
                 <span>Members</span>
          </div>
          <div class="nav-btn">
                  <i class="fa-thin fa-caret-down"></i>
                 <span>More</span>
          </div>
      </div>
      <div></div>
</header>
<br><br><br>
<appbody style=" background-color: #f0f1f3 !important;">


    <div class="counter-div-090">
        <div class="one">
            <div class="counter alpha">
                <div class="count">{{members_total}}</div>
                <div class="label">
                    <i class="fa-thin fa-users"></i>
                    <span>Members</span>
                </div>
            </div>
        </div>
        <div  class="two">
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-globe"></i>
                 </div>
                 <div>
                     <div class="counter-head">Nation</div>
                     <div class="counter-mini">{{active_nation.country}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-map"></i>
                 </div>
                 <div>
                     <div class="counter-head">Areas</div>
                     <div class="counter-mini">{{active_nation.area_set.all.count}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-radar"></i>
                 </div>
                 <div>
                     <div class="counter-head">Districts</div>
                     <div class="counter-mini">{{active_nation.get_district_total}}</div>
                 </div>
            </div>
            <div class="counter-001">
                 <div class="counter-av">
                      <i class="fa-thin fa-church"></i>
                 </div>
                 <div>
                     <div class="counter-head">Locals</div>
                     <div class="counter-mini">{{active_nation.get_local_total}}</div>
                 </div>
            </div>
        </div>

    </div>
</appbody>



<h1>{{active_nation.country}} Admin</h1>
<h3>Areas</h3>
<table>
    <tr>
        <th>Name</th>
        <th>id</th>
        <th>Location</th>
    </tr>
{% for area in areas %}
    <tr>
        <td>{{ area.name }} Area</td>
        <td>{{ area.id }}</td>
        <td>{{ area.location }}</td>
    </tr>
{% endfor %}
</table>

<a href="{% url 'nationalAdmin_add_area' %}">ADD AREA</a>

<h3>Areas Admins</h3>
<table>
    <tr>
        <th>ID</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>AREA</th>
    </tr>
{% for admin in admins %}
    <tr>
        <td>{{ admin.id }}</td>
        <td>{{ admin.phone }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.area.name }} Area</td>
    </tr>
{% endfor %}
</table>

<a href="{% url 'nationalAdmin_add_area_admin' %}">ADD AREA ADMIN</a>

<h3>Announcements</h3>
<div>
    {% for announcement in announcements %}
        <div class="anc n">
            <span>{{ announcement.text }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No announcement</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'nationalAdmin_add_announcement' %}">ADD ANNOUNCEMENT</a>


<h3>Events</h3>
<div>
    {% for event in events %}
        <div class="anc n">
            <span>{{ event.name }}::{{ event.date }}</span>
        </div>
    {% empty %}
        <div class="anc n">
            <span>No event</span>
        </div>
    {% endfor %}
</div>
<a href="{% url 'nationalAdmin_add_event' %}">ADD Event</a>


 <br><br>
<h2>Article Authors</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>PHONE</th>
    </tr>
    <tr>
        {% for author in authors %}
            <td>{{author.id}}</td>
            <td>{{author.name}}</td>
            <td>{{author.phone}}</td>
        {% endfor %}
    </tr>
</table>
<a href="{% url 'nationalAdmin_add_author' %}">Add Author</a>



</body>
</html>